.button {
  font: inherit;
  cursor: pointer;
  background-color: #6243ee;
  border: 1px solid #817772;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.li {
  font: inherit;
  font-size: 20;
  font-weight: bold;
  list-style: none;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 900px;
  color: black;
  /* padding: 0.25rem 2rem; */
}
